<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="baby">

    <select id="getBabySeqList" resultType="int">
        SELECT baby_seq FROM baby where family_code = #{family_code}
    </select>

</mapper>